.section-product {
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
  margin-bottom: 5rem;
  margin-right: 5rem;
}

.product-preview {
  display: flex;
  justify-content: center;
  margin: 5rem;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  gap: 2rem;
}
.product-images__switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3.2rem;
}
.product-images__switcher button {
  border: none;
  background: none;
}

.product-images__previewImg {
  width: 44rem;
  height: 44rem;
  margin: 6rem 3rem;
}
.product-images__previewImg img {
  width: 44rem;
  height: 44rem;
}

.product-images__smallImg {
  padding: 0.1rem;
  width: 11rem;
  height: 11rem;
  border: 2px solid #fff;
}

.active {
  border-color: #2196f3;
}

/* Product Description */
.product-description {
  margin: 2.4rem;
}
.description__header {
  display: flex;
  margin-bottom: 2rem;
}
.description__header p,
span {
  font-size: 1.8rem;
}

.description__header p {
  text-transform: uppercase;
  font-weight: 700;
}

.rating {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 0.1rem;
}

/* description body */

.description__body {
  display: flex;
  flex-direction: column;
}
.description__body h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 3rem;
  margin-bottom: 2rem;
}
.description__body p {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.6rem;
}
.description__body span {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--grey);
  line-height: 2.2rem;
  margin-bottom: 3rem;
}
.description__count span {
  display: inline-block;
  color: #fff;
  background-color: rgba(228, 0, 0, 1);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  margin-bottom: 3rem;
}
.description__line {
  margin-bottom: 2rem;
}

/* Prices */
.prices {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.prices del {
  font-size: 1.8rem;
}
.prices p {
  font-size: 3rem;
  font-weight: 700;
}

.sell {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.sell__btn {
  color: #fff;
  background-color: #000;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 1.8rem 15.7rem;
  border: none;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.sell__logo {
  transform: translate(50%, 0);
}
